*{
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden !important;
}

.card {
    width: 100%;
    height: 100%;
    position: relative;
}

h6, span {
    opacity: 0.6;
    position: relative;
}

.price{
    position: relative;
}
.price::before{
    content: '';
    position: absolute;
    background-color: black;
    width: 100%;
    height: 1px;
    top: 50%;
}

.icon {
    color: #f9bf00;
}

a {
    font-weight: bold;
    color: #44d7b6 !important;
}

.col-6 {
    height: 100%;
    position: relative;
}

.col-6::before {
    content: "12 off";
    background-color: rgb(190, 59, 59);
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    width: 50px;
    z-index: 10;
    position: absolute;
    top: 1%;
    left: 7%;
}

.tabs-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

@media (max-width: 767.98px) {
    .tabs-container {
        justify-content: flex-start;
    }
}